/* =========================
   Variables
========================= */
:root {
  --primary-color: #fd6e0a;
  --secondary-color: #fff8f3;

  --text-color: #757575;
  --dark-text: #181818;
  --bg-color: #fff8f3;
  --white: #fff;

  --container-width: 1200px;

  --radius-4: 4px;
  --transition: 300ms ease;
}
/* =========================
   Reset
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* =========================
   Global Styles
========================= */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
}
.section {
  padding: 60px 0;
}

/* =========================
   Layout
========================= */
.container {
  max-width: var(--container-width, 90%);
  margin: 0 auto;
}
.site-header {
  width: 100%;
  background-color: var(--bg-color);
  padding: 20px 0;
  /* border-bottom: 1px solid #757575; */
  position: sticky;
  top: 0;
  z-index: 100;
}
.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-main {
  display: flex;
  flex-direction: column;
}
.site-footer {
  background-color: var(--bg-color);
  color: var(--dark-text);
  padding: 50px 0;
}
/* =========================
   Components
========================= */
.btn {
  padding: 10px 20px;
  border: none;
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: var(--radius-4);
  cursor: pointer;
}
.btn-secondary {
  border: 1px solid #fd6e0a;
  background-color: transparent;
  border-radius: var(--radius-4);
  cursor: pointer;
}
.btn-primary:hover {
  background-color: transparent;
  border: 1px solid #fd6e0a;
  border-radius: var(--radius-4);
  color: var(--dark-text);
}
.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: var(--radius-4);
  cursor: pointer;
}
.section-title {
  font-size: 3rem;
}
.section-subtitle {
  font-size: 2rem;
}
/* =========================
   Pages
========================= */
.navigation {
  gap: 10px;
}
.navigation ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.navigation ul li {
}
.hero {
  background-color: var(--bg-color);
}
/* =========================
   Skills
========================= */

/* =========================
   Portfolio
========================= */

/* =========================
   Contact
========================= */

/* =========================
   Footer
========================= */

/* =========================
   Responsive
========================= */
